*{
    padding: 0;
    margin: 0;
}

.imagen-principal{
    width: 100vw;
    height: 45vw;
    opacity: 0.8;
}

.imagen-galeria{
    border-radius: 2%;
    width: 300px;
    opacity: 0.3;
}
.galeria{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imagen-galeria:hover{
    opacity: 1;
    border-radius: 10%;
    
}